HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### VS Code ###
.vscode/
src/main/resources/Free_Tier.pem
src/main/resources/application.properties
/logs
